a:link {text-decoration:underline; color:black; font-weight:900;}


a:visited {text-decoration:underline; color:black; font-weight:900;}


a:hover {text-decoration:none; color:gray;}

a:active { outline: none;}

:focus
{
-moz-outline-style: none;
}

body
{
background-color:black;
font-family: Verdana, Helvetica, sans-serif;
}

*.szerokosc
{
width:20%;
}

*.pdf
{
border-color:white;
}

*.pdf:link
{
border-color:white;
}

*.pdf:Visited
{
border-color:white;
}

*.pdf:hover
{
border-color:gray;
}

*.pdf:active
{
border-color:gray;
}


*.promocja
{
margin-left: auto;
margin-right: auto;
position: relative;
font-size: 11px;
font-family: Verdana, Helvetica, sans-serif;
text-align: center;
color: white;
}

*.promocja a
{
color: white;
text-decoration:none;
}

*.promocja a:hover
{
color: gray;
text-decoration:none;
}



